

<app-navbar></app-navbar>
  <body>
    <div class="container">

      
      
        <div class="container-fluid mt-3 form col-5">

          <h2>Ajout utilisateur</h2>
          <form class="f" action="/action_page.php">
            <div class="mb-3 mt-3 "><br>
              <div class="form-group">
                <label for="nom">Matricule:</label>
                <input type="text" class="form-control" id="nom">
              </div>
            <div class="form-group">
              <label for="nom">Nom :</label>
              <input type="text" class="form-control" id="nom">
            </div>
            <div class="form-group">
              <label for="prenom">Prénom :</label>
              <input type="text" class="form-control" id="prenom">
            </div>
            <div class="form-group">
                <label for="prenom">Login:</label>
                <input type="text" class="form-control" id="prenom">
              </div>
              <div class="form-group">
                <label for="prenom">Mot de passe:</label>
                <input type="password" class="form-control" id="prenom">
              </div>
              <div class="form-group">
                <label for="email">Profile</label>
        <select class="form-select fs  col-6">
            <option>Administrateur</option>
            <option>utilisateur</option>
            
          </select>
              </div>
            <div class="form-group">
              <label for="email">Email :</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="prenom">Telephone:</label>
                <input type="tel" class="form-control" id="prenom">
                <div class="mb-3 mt-3 bt">
                </div>
                <button type="submit" class="btn btn-primary">Ajouter</button>

            </div></div>          </form>
        </div>
        <br> 

        <div class="container mt-3"> 
            <h2>Liste des utilisateurs</h2>
            <br> 

          <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Login</th>
                
                <th>Profile</th>
                <th>Email</th>
                <th>Telephone</th>
                
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Eya</td>
                <td>Yaakoubi</td>
                <td>eyayaakoubi</td>
                <td>Test</td>
                <td>eya@gmail.com</td>
                <td>+216 24 556 789</td>
                <td>
                    <div class="row">
                      <div class="col">
                        <button class="btn btn-primary">modifier</button>
                      </div>
                      <div class="col">
                        <button class="btn btn-danger">Supprimer</button>
                      </div>
                    </div>
                  </td>






                  <tr>
                    <td>Eya</td>
                    <td>Yaakoubi</td>
                    <td>eyayaakoubi</td>
                    <td>Test</td>
                    <td>eya@gmail.com</td>
                    <td>+216 24 556 789</td>
                    <td>
                        <div class="row">
                          <div class="col">
                            <button class="btn btn-primary">modifier</button>
                          </div>
                          <div class="col">
                            <button class="btn btn-danger">Supprimer</button>
                          </div>
                        </div>
                      </td>
    
    
    
    
    
    
                    </tr>
                    
                  <tr>
                    <td>Eya</td>
                    <td>Yaakoubi</td>
                    <td>eyayaakoubi</td>
                    <td>Test</td>
                    <td>eya@gmail.com</td>
                    <td>+216 24 556 789</td>
                    <td>
                        <div class="row">
                          <div class="col">
                            <button class="btn btn-primary">modifier</button>
                          </div>
                          <div class="col">
                            <button class="btn btn-danger">Supprimer</button>
                          </div>
                        </div>
                      </td>
    
    
    
    
    
    
                    </tr>
            </tbody>
          </table>
        </div>
      
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>

