

<app-navbar></app-navbar>
  <body>
    <br>
    <div *ngIf="alert" class="col-6 alert alert-success alert-dismissible" style="margin-left: 25%;">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>Succès!</strong> Utilisateur ajouté avec succès.
    </div>
    <div *ngIf="alertt" class="col-6 alert alert-danger alert-dismissible" style="margin-left: 25%;">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>Attention!</strong> Utilisateur inscrit déja.
    </div>
    <div class="container">
        <div class="container-fluid mt-3 form col-5">

          <h2>Ajout utilisateur</h2>
          <form [formGroup]="ajoutUserr" class="f" (ngSubmit) = "onSubmit()">
            <div class="mb-3 mt-3 "><br>
              <div class="form-group">
                <label for="nom">Matricule:</label>
                <input type="text" [(ngModel)]="user.matricule" FormControlName="matricule" [ngModelOptions]="{standalone: true}" class="form-control" name="matricule">
              </div>
            <div class="form-group">
              <label for="nom">Nom :</label>
              <input type="text" [(ngModel)]="user.nom_user" FormControlName="nom" [ngModelOptions]="{standalone: true}" class="form-control" name="nom">
            </div>
            <div class="form-group">
              <label for="prenom">Prénom :</label>
              <input type="text" [(ngModel)]="user.prenom_user" FormControlName="prenom" [ngModelOptions]="{standalone: true}" class="form-control" name="prenom">
            </div>
            <div class="form-group">
                <label for="prenom">Login:</label>
                <input type="text" [(ngModel)]="user.login" FormControlName="login" [ngModelOptions]="{standalone: true}" class="form-control" name="login">
              </div>
              <div class="form-group">
                <label for="prenom">Mot de passe:</label>
                <input type="password" [(ngModel)]="user.password"  FormControlName="password" [ngModelOptions]="{standalone: true}" class="form-control" name="password">
              </div>
              <div class="form-group">
                <label for="email">Profile</label>
        <select [(ngModel)]="dropdown" FormControlName="type" [ngModelOptions]="{standalone: true}" name="type" class="form-select fs  col-6">
            <option>Administrateur</option>
            <option>utilisateur</option>
            
          </select>
              </div>
            <div class="form-group">
              <label for="email">Email :</label>
              <input type="email" [(ngModel)]="user.mail_user" FormControlName="mail" [ngModelOptions]="{standalone: true}" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label for="prenom">Telephone:</label>
                <input type="tel" [(ngModel)]="user.num_tel" FormControlName="tel" [ngModelOptions]="{standalone: true}" class="form-control" name="num_tel">
                <div class="mb-3 mt-3 bt">
                </div>
                <button type="submit" class="btn btn-primary">Ajouter</button>

            </div></div>          </form>
        </div>
        <br> 

        <div class="container mt-3"> 
            <h2>Liste des utilisateurs</h2>
            <br> 

          <table class="table table-hover tb table">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Login</th>
                
                <th>Profile</th>
                <th>Email</th>
                <th>Telephone</th>
                
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users" >
                <td> {{user.nom_user}}</td>
                <td> {{user.prenom_user}}</td>
                <td> {{user.login}}</td>
                <td> {{user.type}}</td>
                <td> {{user.mail_user}}</td>
                <td> {{user.num_tel}}</td>
                <td>
                    <div class="row">
                      <div class="col">
                        <button class="btn btn-primary">modifier</button>
                      </div>
                      <div class="col">
                        <button class="btn btn-danger">Supprimer</button>
                      </div>
                    </div>
                  </td>
                </tr>

            </tbody>
          </table>
        </div>
      
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>

