    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content = "IE=edge">
        <meta name ="viewport" content="width=device-widith,initial-scale=1.0">
        <title >LOGIN</title>
        <link rel ="stylesheet" href="logiin.component.css">
 
        <style>

            p.thick {
                font-weight: bold;
              } </style>

    </head>
    <body>
        <section>
            <div class="login-container">
                <div class="login-image"></div>
                <div class="login-form">
                    
                    <h1> Bienvenue</h1>
                    <br>
                    
                        <div class="card" style="width:500px">
                            <div class="card-header">
                              <h4 class="text-center">s'authentifier</h4>
                            </div>
                            <div class="card-body">
                              <form (ngSubmit) = "login()">
                                <div class="form-group">
                                  <label for="username"><p class ="thick">LOGIN</p></label>
                                  <br>
                                  <input type="text" class="form-control" id="username" placeholder="Entrez votre Login" [(ngModel)]="log" [ngModelOptions]="{standalone: true}">
                                </div>
                                <br>
                                <div class="form-group">
                                  <label for="password"><p class ="thick">Mot de passe</p></label> <br>
                                  <input type="password" class="form-control" id="password" placeholder="Entrez votre mot de passe" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}">
                                </div>
                                <br>
                                <div class="container">

                        <div class="inputBx" style="width:200px" >
                            <input type="submit" value="LogIn"> </div>
                        </div>
                        <a routerLink="/renitialiser">Rénitialiser mot de passe </a>

                    </form>
                </div> 
            </div>
                    
                </div>
            </div> 
        </section>
   
    </body>