<app-navbar></app-navbar>

<body>
  <div class="container-fluid mt-3 form col-5">

    <h2 class=" titre text-center text-lg-left text-sm" style="font-size:2vw;">Ajout Serveur</h2>


            <form (ngSubmit) = "onSubmit()">
                <label for="fname">Nom Host :</label>
                <input type="text" [(ngModel)]="s.nomHost" id="fname" name="fname"><br><br>
               
                <label for="lname" >Adress IP:</label>
                <input type="text" [(ngModel)]="s.ip" id="lname" name="lname"><br><br>
                <label for="lname">Choisir un SI:</label>
                <select id="Choisir un SI" [(ngModel)]="id" (ngModelChange)="onSelect()" name="id">
                  <option [value]="s.idSI" *ngFor="let s of sis">{{s.nom_Si}}</option>
            
                </select> <br><br>
               
                <input type="submit" value="Ajouter">
              </form>
            </div> 

<br><br>
            <div class="container mt-3">
              <h2 class="titre" style="font-size:2vw;"> Liste des Serveurs</h2>
              <br><br>
              
                 
                  <table class="table table-hover tb">                                                                                                                                                                                                                                                                                   
                    <thead>
                      <tr>
                        <th>Nom Serveur</th>
                        <th> Adresse IP</th>
                        <th>Actions</th>  
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let serv of serveurs">
                        <td>{{serv.nomHost}}</td>
                        <td>{{serv.ip}}</td>

                        <td>
                          <div class="row">
                            <div class="col">
                              <button class="btn btn-primary">modifier</button>
                            </div>
                            <div class="col">
                              <button class="btn btn-danger">Supprimer</button>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

</body>