<app-navbar></app-navbar>
<body>

    <div class="container-fluid mt-3 form col-5">
      <h2>Ajout système d'information</h2>
      <form class="f"  (ngSubmit) = "onSubmit()">
        <div class="mb-3 mt-3 "><br>
          <label for="email">Nom système information</label>
          <input type="text" class="form-control" id="nom" [(ngModel)]="ssi.nom_Si" [ngModelOptions]="{standalone: true}" placeholder="Entrez un nom de système d'information" name="nom">
        </div>
        <label for="email">Responsable</label>
        <select class="form-select fs  col-6" [(ngModel)]="matricule" (ngModelChange)="onSelect()" [ngModelOptions]="{standalone: true}">
            <option [value]="resp.matricule" *ngFor="let resp of responsables">{{resp.nom_user}} &thinsp; {{resp.prenom_user}}</option>
          </select>


        <div class="mb-3 mt-3 ">
            <label for="comment">description:</label>
            <textarea class="form-control" [(ngModel)]="ssi.description" rows="5" id="description" name="description"></textarea>
          </div>
          <div class="mb-3 mt-3 bt">
            <button type="submit" class="btn btn-primary col-6 ">Ajouter Système</button>
          </div>
      </form>
    </div>
    <br/>
    <br/>
    <div class="container mt-3">  
      <h3>Consulter les systèmes d'informations...</h3> <br>         
        <table class="table table-hover tb">                                                                                                                                                                                                                                                                                   
          <thead>
            <tr>
              <th>Nom système</th>
              <th>Actions</th>  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of si">
              <td>{{s.nom_Si}}</td>
              <td>
                <div class="row">
                  <div class="col">
                    <button class="btn btn-primary">modifier</button>
                  </div>
                  <div class="col">
                    <button class="btn btn-danger">Supprimer</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    
    </body>
