<app-navbar></app-navbar>

<body>
  <div class="container-fluid mt-3 form col-5">
    

    <h2 class="titre" style="font-size:2vw;"> Ajouter mots cles</h2>

    <form (ngSubmit) = "onSubmit()">
        <label for="fname">Mot Cle :</label>
        <input type="text" [(ngModel)]="mc.mot" id="fname" name="fname"><br><br>
          <label for="lname" >Designation :</label>
          <input type="text" [(ngModel)]="mc.designation" id="lname" name="lname"><br><br>
          <label for="lname" >fichier log :</label>
<!--          <select (ngModelChange)="onSeli()" [(ngModel)]="id" name="FIchierlog" [ngModelOptions]="{standalone: true}">
            <option [value]="e.idlogs" *ngFor="let e of lf">{{e.lastFile}}</option>       
          </select>-->
        <!--  <select name="id" class="form-select fs  col-6" (ngModelChange)="onSeli()" [(ngModel)]="id"  id="id">
            <option *ngFor=" let l of lf " [value]="l.idlogs">{{l.lastFile}}</option>
          </select> -->

          <select class="form-select fs  col-6" [(ngModel)]="id" (ngModelChange)="onSeli()" [ngModelOptions]="{standalone: true}">
            <option [value]="l.idlogs" *ngFor="let l of lf">{{l.lastFile}}</option>
          </select>

          <label for="lname">Niveau :</label>
          <select id="Niveau" (ngModelChange)="onSe()" [(ngModel)]="mc.niveau" name="Niveau">
            <option value="Minneur">Choisir Niveau</option>
            <option [value]=0>Warning</option>
            <option [value]=1>Minneur</option>
            <option [value]=2>Moyenne</option>
            <option [value]=3>Majeur</option>
          </select> <br><br>

          <div class="mb-3  ">
            <button type="submit" class="btn btn-primary col-6 ">Ajouter Mot clé</button>
          </div>
    </form>
            </div> 
<br>

            <div class="container mt-3">
              <h2 class="titre" style="font-size:2vw;"> Liste Mots cles</h2>
              <br><br> 
              <table class="table table-hover tb">                                                                                                                                                                                                                                                                                   
                <thead>
                    <tr>
                      <th>Mot Cle </th>
                      <th>Niveau </th>
                      <th>Fichier log</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let mot of mots">
                      <td>{{mot.mot}}</td>
                      <td>{{mot.niveau}}</td>
                      <td>{{mot.lf.lastFile}}</td>
                      <td>
                        <div class="row">
                          <div class="col">
                            <button class="btn btn-primary">modifier</button>
                          </div>
                          <div class="col">
                            <button class="btn btn-danger">Supprimer</button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
</body>