<app-navbar></app-navbar>

    <body>
    <h2 class="titre" style="font-size:2vw;"> Dashboard</h2> <br>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="alert alert-info" role="alert">
<h1> Majeurs</h1>  <br>  <h2>11</h2>      </div> </div>
        <div class="col-12 col-lg-6">
          <div class="alert alert-warning" role="alert">
           <h1>Moyennes </h1> <br> <h2>17</h2>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="alert alert-danger" role="alert"> <h1> Minneurs</h1>
             <br> <h2>8</h2>
          </div>
        </div>
   
        <div class="col-12 col-lg-6">
          <div class="alert alert-secondary" role="alert">
                <h1> warning</h1> <br> <h2> 17</h2>
          </div>
        </div>
      </div>
    </div>
    
   
    <br>
    <div class="container mt-3">
        <h2 class="titree">Alarmes Minneurs</h2> <br><br>
        <table class="table table-hover tb">                                                                                                                                                                                                                                                                                   
          <thead>
            <tr>
              <th>Mot Cle </th>
              <th>Date </th>
              <th>Serveurs</th>
              <th>fichierlog</th>
              <th>Actions</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Test</td>
              <td>2023/01/17</td>
              <td>fichierlog</td>
              <td>Test</td>

              <td>
                <div class="row">
                  <div class="col">
                  <div class="btn-group">

                    <button class="button2">Consulter</button>

                      
            </div>
                  </div> </div>
              </td>


            </tr>
            <tr>
              <td>Test</td>
              <td>2023/01/17</td>
              <td>fichierlog</td>

              <td>Test</td>

              <td>
                <div class="row">
                  <div class="col">
                  <div class="btn-group">

                    <button class="button2">Consulter</button>

                      
            </div>
                  </div> </div>
              </td>


            </tr>
          </tbody>
        </table>
    </div>
    

    <div class="container mt-3">
        <h2 class="titree">Alarmes Moyennes </h2> <br><br>
        <table class="table table-hover tb">                                                                                                                                                                                                                                                                                   
          <thead>
            <tr>
              <th>Mot Cle </th>
              <th>Date </th>
              <th>Serveurs</th>
              <th>fichierlog</th>

              <th>Actions</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Test</td>
              <td>2023/01/17</td>
              <td>fichierlog</td>

              <td>Test</td>

              <td>
                <div class="row">
                  <div class="col">
                  <div class="btn-group">

                    <button class="button2">Consulter</button>

                      
            </div>
                  </div> </div>
              </td>


            </tr>
            <tr>
              <td>Test</td>
              <td>2023/01/17</td>
              <td>fichierlog</td>

              <td>Test</td>

              <td>
                <div class="row">
                  <div class="col">
                  <div class="btn-group">

                    <button class="button2">Consulter</button>

                      
            </div>
                  </div> </div>
              </td>


            </tr>
          </tbody>
        </table>
    </div>
          <div class="container mt-3">
            <h2 class="titree">Alarmes Majeurs</h2> <br><br>
            <table class="table table-hover tb">                                                                                                                                                                                                                                                                                   
              <thead>
                <tr>
                  <th>Mot Cle </th>
                  <th>Date </th>
                  <th>Serveurs</th>
                  <th> fichierlog
                  </th>
                  <th>Actions</th>
    
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Test</td>
                  <td>2023/01/17</td>
                  <td>fichierlog</td>

                  <td>Test</td>
    
                  <td>
                    <div class="row">
                      <div class="col">
                      <div class="btn-group">
    
                        <button class="button2">Consulter</button>
    
                          
                </div>
                      </div> </div>
                  </td>
    
    
                </tr>
                <tr>
                  <td>Test</td>
                  <td>2023/01/17</td>
                  <td>fichierlog</td>

                 <td>Test</td>
    
                  <td>
                    <div class="row">
                      <div class="col">
                      <div class="btn-group">
    
                        <button class="button2">Consulter</button>
    
                          
                </div>
                      </div> </div>
                  </td>
    
    
                </tr>
              </tbody>
            </table>
        </div>

              <div class="container mt-3">
                <h2 class="titree">Alarmes warning</h2> <br><br>
                <table class="table table-hover tb">                                                                                                                                                                                                                                                                                   
                  <thead>
                    <tr>
                      <th>Mot Cle </th>
                      <th>Date </th>
                      <th>Serveurs</th>
                      <th>              fichierlog
                      </th>
                      <th>Actions</th>
        
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Test</td>
                      <td>2023/01/17</td>
                      <td>fichierlog</td>

                      <td>Test</td>
        
                      <td>
                        <div class="row">
                          <div class="col">
                          <div class="btn-group">
        
                            <button class="button2">Consulter</button>
        
                              
                    </div>
                          </div> </div>
                      </td>
        
        
                    </tr>
                    <tr>
                      <td>Test</td>
                      <td>2023/01/17</td>
                      <td>fichierlog</td>

                      <td>Test</td>
        
                      <td>
                        <div class="row">
                          <div class="col">
                          <div class="btn-group">
        
                            <button class="button2">Consulter</button>
        
                              
                    </div>
                          </div> </div>
                      </td>
        
        
                    </tr>
                  </tbody>
                </table>
            </div>
                </body>
          