<app-navbar></app-navbar>
<div class="container mt-3"> 
    <div class="row">
        <div class="col">
            <a href="">
                <div class="card col-10 bg-primary">
                    <div class="card-header"><img [src]="gu" class="gg"></div>
                    <div class="card-footer">Users</div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="">
                <div class="card col-10 bg-success">
                    <div class="card-header"><img [src]="gu" class="gg"></div>
                    <div class="card-footer">Responsable</div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col"><br>
            <a href="">
                <div class="card col-10 bg-info">
                    <div class="card-header"><img [src]="gsi" class="gg"></div>
                    <div class="card-footer">Systèmes d'informations</div>
                </div>
            </a> 
        </div>
        <div class="col"> <br>
            <a href="">
                <div class="card col-10 bg-warning">
                    <div class="card-header"><img [src]="gs" class="gg"></div>
                    <div class="card-footer">Gérer Serveurs</div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col"><br>
            <a href="">
                <div class="card col-10 bg-danger">
                    <div class="card-header"><img [src]="glf" class="gg"></div>
                    <div class="card-footer">Logs File</div>
                </div> 
            </a>
        </div>
        <div class="col"> <br>
            <a href="">
                <div class="card col-10 bg-secondary">
                    <div class="card-header"><img [src]="gmc" class="gg"></div>
                    <div class="card-footer">Mots Clés</div>
                </div>
            </a>
        </div>
    </div>
</div>
