<body>
    <div>
        <button class="btn btn-primary" style="margin-left: 75%;" (click)="imprime()">Imprimer statistique</button>
    </div>
    <div>
        <h2 style="margin-left: 35%;">Alarmes par Serveurs</h2>
        <div style="width: 600px;height: 600px; margin-left: 25%;">
            <canvas id="myChart"></canvas>
        </div>

        <h2 style="margin-left: 35%;">Alarmes par Fichier Log</h2>
        <div style="width: 600px;height: 600px; margin-left: 25%;">
            <canvas id="myChar"></canvas>
        </div>

        <h2 style="margin-left: 35%;">Alarmes par Si</h2>
        <div style="width: 600px;height: 600px; margin-left: 25%;">
            <canvas id="myCha"></canvas>
        </div>
    </div>
    <div>

    </div>
</body>